/* 
Title: Utility Partial 
Author: Brian Omondi
Email: brian.omondi@students.moringaschool.com
Date: 28.01.2022
License: MIT
*/

/* Import font Montserrat */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

/* For this IP, we'll be focusing on 2 screen sizes, below 500px and above 500px*/
* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/hero.png");
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .px-sm-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .d-sm-none {
    display: none;
  }
  .col-sm-8 {
    width: 100%;
  }
  .d-sm-col {
    flex-direction: column;
    width: 100%;
  }
  .col-sm-4 {
    width: 100%;
  }
  .py-sm-2 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}
@media only screen and (min-width: 600px) {
  .d-sm {
    display: none;
  }
}

ul {
  list-style: none;
  text-decoration: none;
}
li > a,
a:hover {
  text-decoration: none;
}

.wrapper {
  margin: auto;
}

/* Customized margin utils */

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 100%;
  background-color: var(--light);
}

/* Gradient BG */
.bg-grad {
  background: rgb(3, 70, 136);
  background: -moz-linear-gradient(
    90deg,
    rgba(3, 70, 136, 1) 0%,
    rgba(83, 51, 136, 1) 35%,
    rgba(209, 21, 136, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(3, 70, 136, 1) 0%,
    rgba(83, 51, 136, 1) 35%,
    rgba(209, 21, 136, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(3, 70, 136, 1) 0%,
    rgba(83, 51, 136, 1) 35%,
    rgba(209, 21, 136, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#034688",endColorstr="#d11588",GradientType=1);
}
.subscribe {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  border-radius: 0.25rem;
}
.subscribe-input {
  position: relative;
  display: flex;
}
