/* 
Title: Utility Partial 
Author: Brian Omondi
Email: brian.omondi@students.moringaschool.com
Date: 28.01.2022
License: MIT
*/

/* This utility is flexbox oriented */
main {
  display: flex;
}
/* Define Project Variables */
root {
  --primary: #279af4;
  --accent: #00d06e;
  --dark: #282643;
  --light: #ffffff;
  --grey: #bdbdbd;
  --light-blue: #8ebbf5;
}

/* Dimensions (Width and height) */
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}
.w-5 {
  width: 5%;
}

.h-100 {
  height: 100%;
}
.h-75 {
  height: 75%;
}
.h-50 {
  height: 50%;
}
.h-25 {
  height: 25%;
}
.h-20 {
  height: 20%;
}
.h-10 {
  height: 10%;
}
.h-5 {
  height: 5%;
}

/* Padding */

/* Sets all paddings to 0 for all sides */
.p-0 {
  padding: 0;
}

/* Sets padding to 0 along the x-axis */
.px-0 {
  padding: 0;
}

/* Sets padding to 0 along the y-axis */
.py-0 {
  padding: 0;
}
